/* Icon sizes */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Spacing to make up for fixed footer 
   This allows you to properly scroll */
.spacing-footer {
    margin-bottom: 75px;
}

.spacing-header {
    margin-top: 92px;
}

/* .mt-6 {
    margin-top: 15%;
} */

body {
    height: 100%;
    background-color: rgb(255, 243, 243);
}

.light-grey {
    background-color: rgb(223, 223, 223);
}

.material-icons {
    cursor: pointer;
}

.grey {
    background-color: #DCDCD4;
}


/* To prevent touch to search*/
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
i{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#CreateTasks,
#CreateActivities{
    cursor: pointer;
}
/* (248, 249, 250) */


/* COLORSSS */


/* COLOR PALETTE COLORS */
.dark-turquoise{
    background-color: #52dee5;
}

.dark-turquoise-text{
    color: #52dee5;
}

.middle-blue {
    background-color: #92DCE5;
}
.middle-blue-text{
    color: #92DCE5;
}

.grey-web{
    background-color: #7c7c7c;
}

.grey-web-text{
    color: #7c7c7c;
}

.lavender-blush{
    background-color: #eee5e9;
}

.lavender-blush-text{
    color: #eee5e9;
}

.onyx{
    background-color: #383d3b;
}

.onyx-text{
    color: #383d3b;
}

.form-control:disabled{
    background-color: #eee5e9;
}


/* other colors */

/* color for any feature that is not implemented */
.unavailable{
    color: #909090;
}

/* for extremely faded out text */
.greyText{
    color: #cacaca;
}

html,
body{
    background-color: #eee5e9;
    /* font-family: playfair display; */
}
.btn:hover{
    color: #eee5e9;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="time"]:focus:before,
  input[type="time"]:valid:before {
    content: "";
  }
