body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  /* background-color: orange; */
  display: grid;
  height: 85vh;
  grid-template-columns: 100%;
  grid-template-rows: 15% 25% 60% ;
  overflow: auto;
}
/* .top-menu {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1; */
  /* background-color: blue;       */

.topnav {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /* background-color: rgb(37, 236, 149); */
  grid-template-rows: 50% 50%;
}

.close {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /* background-color: rgb(227, 35, 35); */
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
#close {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
#select {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
#multiple {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.follow {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  /* background-color: rgb(218, 231, 38); */
}

.recent {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  /* background-color: yellow; */
  grid-template-rows: 20% 80%;
}
.r1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /* background-color: rgb(222, 28, 148); */
  display: grid;
  grid-template-columns: 50% 50%;
}
#recentsent {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
#new {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.r2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  /* background-color: rgb(151, 28, 222); */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  overflow: auto;
}
#carly {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
#bruce {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
#yue {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
#paul {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.contact {
  display: grid;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  /* background-color: rgb(37, 236, 149); */
  grid-template-rows: 10% 90%;
}
.c1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  /* background-color: pink; */
}
.c2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: white;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

.topnav a {
  text-decoration: none;
  color: black;
}
#input {
  width: 700px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: 14%;
  background-color: rgb(223, 220, 220);
  border-style: hidden;
}

.word {
  font-size: 50px;
}
#multiple {
  margin-left: 30%;
}
.r1w {
  font-size: 40px;
}
#new {
  margin-left: 35%;
}
#recentsent {
  margin-left: 3%;
}
#close {
  margin-left: 8%;
}

.icon {
  width: 58%;
}
.item a {
  font-size: xx-large;
  text-decoration: none;
  color: black;
}
#pink {
  font-size: xx-large;
}

.icon2 {
  width: 15%;
}

.item2 a {
  font-size: xx-large;
  text-decoration: none;
  color: black;
}

.item2 {
  list-style-type: none;
}
.text2 {
  margin-left: 8%;
}



.r2 input[type="radio"] {
  content: "";
  display: inline-block;
  border: 3px solid #000;
  border-radius: 50%;
  margin: 0 0.5em;
  width: 2em;
  height: 2em;
  margin-top: 25%;
}

.text{
margin-left: 35%;

}
.c2 input[type="radio"] {
  content: "";
  display: inline-block;
  border: 3px solid #000;
  border-radius: 50%;
  margin: 0 0.5em;
  width: 2em;
  height: 2em;
  margin-top: 5%;
}